.about-section {
  padding: 80px 0;
  overflow: hidden !important  ;

  .container {
  }
  .about-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include media(1250px) {
      flex-direction: column;
      gap: 100px;
    }
    .left-wrapper {
      position: relative;
      width: 100%;
      max-width: 549px;
      height: 497px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #a49384;
      border-radius: 12px;
      @include media(900px) {
        max-width: 449px;
        height: 397px;
      }
      @include media(700px) {
        max-width: 349px;
        height: 297px;
      }
      @include media(550px) {
        max-width: 314px;
        height: 232px;
      }
      .video-frame {
        width: 100%;
        position: absolute;
        top: -30px;
        left: 50px;
        iframe {
          width: 728px;
          height: 497px;
          object-fit: cover;
          object-position: center;
          border-radius: 12px;
        }
        @include media(900px) {
          top: -23px;
          left: 19px;
          iframe {
            width: 628px;
            height: 397px;
          }
        }
        @include media(700px) {
          top: -23px;
          left: 19px;
          iframe {
            width: 428px;
            height: 297px;
          }
        }
        @include media(550px) {
          top: -20px;
          left: 15px;
          iframe {
            width: 326px;
            height: 222px;
          }
        }
      }
      .text-frame {
        position: absolute;
        bottom: -24px;
        height: 44px;
        width: 445px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: #ffffff;
        @include media(900px) {
          width: 85%;
          height: 30px;
          align-items: start;
        }
        @include media(550px) {
          width: 255px;
          bottom: -24px;
        }
        .text {
          font-family: $pr-font;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          color: #aaa7a4;
          width: max-content;
          @include media(900px) {
            font-size: 12px;
            line-height: 18px;
          }
          @include media(550px) {
            width: 114px;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
    .right-wrapper {
      width: 100%;
      max-width: 410px;
      margin-top: -30px;
      .r-title {
        font-family: $pr-font;
        font-weight: 600;
        font-size: 38px;
        line-height: 49px;
        color: #231202;
        margin-bottom: 20px;
        @include media(600px) {
          font-size: 24px;
          line-height: 31px;
          margin-bottom: 18px;
        }
      }
      .r-text {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #312922;
        margin-bottom: 68px;
        @include media(600px) {
          margin-bottom: 28px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .r-form {
        &-title {
          font-family: $sc-font;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          color: #231202;
          padding-bottom: 20px;
          @include media(600px) {
            font-size: 18px;
            line-height: 27px;
            padding-bottom: 18px;
          }
        }
        label {
          font-family: $pr-font;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #746f6b;
          padding-bottom: 12px;
          @include media(600px) {
            padding-bottom: 10px;
            font-size: 16px;
            line-height: 24px;
          }
        }
        input {
          width: 100%;
          max-width: 409px;
          height: 51px;
          background: #fcf9f7;
          border: 2px solid #a8a39f;
          border-radius: 12px;
          padding-left: 18px;
          outline: none;
          margin-bottom: 30px;
          &::placeholder {
            font-family: $sc-font;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #000;
          }
          @include media(600px) {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
