.choose {
  width: 100%;
  padding: 40px 0;
  background: #fff8f2;
  .container {
  }
  .choose-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    .title {
      font-family: $pr-font;
      font-weight: 600;
      font-size: 38px;
      line-height: 49px;
      color: #231202;
      @include media(600px) {
        width: 298px;
        font-size: 24px;
        line-height: 31px;
      }
    }
    .parent {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @include media(1000px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media(600px) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
      }
      .choose-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 113px;
          height: 115px;
          margin-bottom: 20px;
        }
        .text-w {
          @include media(600px) {
            font-size: 18px;
            line-height: 25px;
          }
          .title {
            font-family: $pr-font;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #130a01;
            margin-bottom: 12px;
          }
          .text {
            font-family: $pr-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #51483f;
          }
        }
      }
    }
  }
}
