.meeting {
  width: 100%;
  background: #f4cfaf;
  padding: 30px 0;
  overflow-x: hidden;
  .container {
  }
  &-wrapper {
    margin: 0 50px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    @include media(1300px) {
      margin: 0;
    }
    @include media(1000px) {
      flex-direction: column;
      align-items: center;
    }
    @include media(650px) {
      align-items: start;
    }
    .title2 {
      width: max-content;
      font-family: $pr-font;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #413021;
      margin-bottom: 12px;
    }
    form {
      display: flex;
      align-items: end;
      justify-content: center;
      gap: 36px;
      @include media(1300px) {
        gap: 25px;
      }
      @include media(1000px) {
        flex-direction: column;
        align-items: start;
      }
      .name-w {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        label {
          font-family: $pr-font;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #523d2b;
          @include media(650px) {
            font-weight: 400;
          }
        }
        input {
          width: 100%;
          max-width: 309px;
          padding: 12px 18px;
          background: #fcf9f7;
          border: 2px solid #9f9489;
          border-radius: 12px;
          font-family: $sc-font;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #000;
        }
      }
      button {
        padding: 12px 35px;
      }
    }
  }
}
