.olcham {
  width: 100%;
  margin: 80px 0px;
  @include media(800px) {
    margin: 60px 0;
  }
  &-wrapper {
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media(1150px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0;
    }
    .olcham-left {
      width: 100%;
      max-width: 541px;
      display: flex;
      flex-direction: column;
      @include media(1150px) {
        max-width: 100%;
        margin-top: 70px;
      }
      .olcham-left-t {
        width: 100%;
        margin-bottom: 41px;
        @include media(650px){
          margin-bottom: 30px;
        }
        .title {
          font-family: $pr-font;
          font-weight: 600;
          font-size: 38px;
          line-height: 53px;
          color: #231202;
          margin-bottom: 20px;
          @include media(650px) {
            width: 341px;
            font-size: 24px;
            line-height: 34px;
          }
        }
        .text {
          max-width: 336px;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: #312922;
          @include media(650px){
            font-size: 16px;
            line-height: 22px;
          }
          span {
            font-weight: 700;
            border: 1px dashed #987452;
            border-radius: 12px;
            text-transform: uppercase;
            padding: 4px;
            color: #987452;
          }
        }
      }
      .olcham-left-b {
        width: 100%;
        .sub-title {
          max-width: 541px;
          font-family: $pr-font;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: #231202;
          margin-bottom: 20px;
          @include media(650px){
            font-size: 18px;
            line-height: 25px;
          }
          span {
            font-weight: 700;
            color: #987452;
          }
        }
        .olcham-input-wrapper {
          form {
            display: flex;
            flex-direction: column;
            label {
              font-family: $pr-font;
              font-weight: 400;
              font-size: 18px;
              line-height: 27px;
              color: #746f6b;
              margin-bottom: 12px;
            }
            input {
              width: 100%;
              max-width: 409px;
              background: #fcf9f7;
              border: 2px solid #a8a39f;
              border-radius: 12px;
              padding: 12px 18px;
              color: #012424;
              margin-bottom: 20px;
              &::placeholder {
                font-family: $sc-font;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
              }
            }
            button {
              width: 100%;
              max-width: 145px;
            }
          }
        }
      }
    }
    .olcham-right {
      width: 600px;
      position: relative;
      @include media(700px) {
        width: 400px;
      }
      @include media(650px) {
        width: 322px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 100%;
        height: 100%;
        border: 3px solid #a49384;
        border-radius: 12px;
        z-index: 2;
        @include media(650px) {
          right: -25px;
          bottom: -25px;
        }
      }
      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 3;
        border-radius: 12px;
      }
    }
  }
  .b {
    padding: 0 0 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: $pr-font;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #87abab;
    margin-top: 20px;
    span {
      font-size: 20px;
      line-height: 30px;
      color: #f50000;
    }
    .submitted-msg {
      color: #0db709;
    }
    @include media(650px) {
      font-size: 16px;
      line-height: 24px;
      padding: 0;
    }
  }
}
