.quetion {
  padding: 80px 0;
  width: 100%;
  .container {
  }
  &-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    @include media(1050px) {
      flex-direction: column;
      gap: 30px;
    }
    form {
      width: 100%;
      max-width: 409px;
      margin-bottom: 49px;
      @include media(1050px){
        max-width: 100%;
        .in-wrap{
          width: 100%;
          display: flex;
          gap: 10px;
          .wrap{
            width: 50%;
          }
        }
      }
      @include media(650px){
        .in-wrap{
         flex-direction: column; 
         .wrap{
          width: 100%;
         }
        }
      }
      .title {
        font-family: $pr-font;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #231202;
        margin-bottom: 20px;
        @include media(1050px){
         margin-bottom: 15px; 
        }
      }
      .sub-title {
        width: 363px;
        font-family: $pr-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #312922;
        margin-bottom: 30px;
        @include media(1050px){
         width: 100%; 
         margin-bottom: 15px;
        }
        @include media(600px) {
          width: 290px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      label {
        font-family: $pr-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #746f6b;
        margin-bottom: 12px;
      }
      input {
        width: 100%;
        max-width: 409px;
        height: 51px;
        background: #fcf9f7;
        border: 2px solid #a8a39f;
        border-radius: 12px;
        padding-left: 18px;
        outline: none;
        margin-bottom: 30px;
        &::placeholder {
          font-family: $sc-font;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          color: #000;
        }
      }
    }
    .map-section {
      width: 100%;
      .map {
        position: relative;
        max-width: 741px;
        height: 445px;
        border: 1px solid #c4c4c4;
        border-radius: 12px;
        @include media(650px) {
          max-width: 500px;
          height: 235px;
        }
        @include media(550px) {
          max-width: 324px;
        }
        &::after {
          content: "";
          position: absolute;
          right: -8%;
          bottom: -10%;
          width: 100%;
          height: 100%;
          border: 3px solid #a49384;
          border-radius: 12px;
          z-index: -1;
          @include media(650px) {
            // width: 303px;
            // height: 217px;
          }
        }
        iframe {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
